.container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
}

.punteggio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button{
    display: block;
    margin:auto;
    width: 100px;
}